<h2> Sign Up </h2>
<form class="form-horizontal" role="form" action="/process?form=login" method="post">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <label for="fieldName"> Name </label>
    <input type="text" id="fieldName" name="name">
    <br/>
    <label for="fieldName"> Email </label>
    <input type="email" required id="fieldName" name="email">
    <br/>
    <button type="submit" class="btn btn-default"> Register </button>

</form>